.create-container{
    display: grid;
    margin: 8%;
    place-content: center;
    justify-items: center;
    grid-template-columns: repeat(2,50%);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: wheat;

    .add-gallery-section{
        border-radius: 2rem 5rem;
    }

    .add-photo-section{
        border-radius: 5rem 2rem;
    }
    
    .add-gallery-section , .add-photo-section{
        height: 350px;
        width: 500px;
        background-color: #2b2b36;
        display: flex;
        flex-direction: column;
        place-content: center;
        align-items: center;

        .loading-bubbles{
            position: absolute;
        }

        #add-gallery-form , #add-photo-form{
            display: flex;
            flex-direction: column;
            place-content: center;
            align-items: flex-start;
            height: 200px;
        
            .lbl{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 8px 0;

                #gallery-file, #photo-file{
                    width: 200px;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.1)!important;
                    }
                }

                input{
                    height: 25px;
                    text-align: center;
                    font-weight: bolder;
                    background-color: wheat;
                    place-content: center;
                    justify-items: center;
                    color: #14141c;
                    border-radius: 1rem;
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    }/* hide arrow */
                    &:hover{
                        transform: scale(1.01);
                    }
                }
            }
            .btn{
                font-weight: bold;
                place-self: center;
                border-radius: 2rem;
                margin-top: 12px;
                padding: 16px;
                background-color: #424255;
                border-style: none;
                color: wheat;
                &:hover{
                    background-color: #33333a;
                    color: white;
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    .create-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        
        .add-gallery-section , .add-photo-section{
            width: 80vw;
            margin: 12px 0;
        }


        footer{
            bottom: 1%;
        }
    }
}

