.error-container{
    color: rgb(167, 22, 22);

    header{
        color: inherit;
    }

    section{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(20, 20, 28, 0.5);
        width: 90vw;
        padding: 2rem;
        border-radius: 1.5rem;
        margin-top: 1rem;
    }
}