%faIcons {
    font-size: 3rem;
    margin: 8px;
    transition: transform 250ms;
    &:hover{
        transform: scale(1.4);
        cursor: pointer;
    }
}

footer{
    width: 100%;
    margin-top: 3rem;
    text-align: center;

    .faInstagram{
        @extend %faIcons;
        color: #833AB4;
    }
    .faSnapchatSquare{
        @extend %faIcons;
        color: #FFFC00;
        
    }

    @media only screen and(max-width: 600px) {
        position: absolute;
        bottom: 0.25rem;
        margin: 0;
    }
}

