*, *::before, *::after{
  box-sizing: border-box;
}

#root{
  overflow: hidden;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (orientation: landscape) {
  #root{
    overflow: visible;
  }

  ::-webkit-scrollbar {
    display: unset;
  }
}

::-webkit-scrollbar {
    display: none;
}

body {
  background-color: rgba(20, 20, 28, 0.95);
}