%form-btns-contriner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 8px 0 0 0;
    .btn{
        grid-column-start: 1;
        grid-column-end: 3;
        display: none;
        place-self: center;
        margin: 0;
        padding: 16px;
        background-color: #424255;
        border-radius: 2rem;
        border: 1px solid #14141c;
        color: wheat;
        font-weight: bolder;
        &:hover{
            color: white;
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.create-container{
    display: grid;
    place-content: center;
    justify-items: center;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: wheat;

    section{
        height: fit-content;
        width: 500px;
        display: flex;
        flex-direction: column;
        place-content: center;
        align-items: center;
        padding-bottom: 24px;
        background-color: #2b2b36;
        border-radius: 5rem 2rem;
        overflow: hidden;

        .loading-bubbles{
            display: none;
            position: absolute;
        }

        .navbar{
            margin-top: -20px;
    
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                place-items: center;
    
                li{
                    margin: 0 -1px;
                    font-size: 16px;
                    background-color: #14141c;
                    border: solid #424255;
                    border-width: 0 0.5px 2px 2px;
                    border-radius: 0 1rem;
                    padding: 12px 16px;
                    color: hsl(39, 77%, 83% , 0.25);
    
                    &:hover{
                        transform: scale(1.05);
                        cursor: pointer;
                        color: hsl(39, 77%, 83% , 0.75);
                    }
    
                }
                #delete-li{
                    padding: 20px 16px;
                }
    
            }
        }

        form{
            display: flex;
            flex-direction: column;
            // place-content: center;
            height: 100%;
            width: 80%;
        
            Label{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 8px 0;

                #create-gallery-file, #create-photo-file, #edit-gallery-file, #edit-photo-file{
                    width: 200px;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.1)!important;
                    }
                }

                input{
                    height: 25px;
                    text-align: center;
                    font-weight: bolder;
                    background-color: wheat;
                    place-content: center;
                    justify-items: center;
                    color: #14141c;
                    border-radius: 1rem;
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    }/* hide arrow */
                    &:hover{
                        transform: scale(1.01);
                    }
                }
            }

            #edit-photo-metatags-grp{
                display: none
            }

            #edit-metatags-checkbox-lbl{     
                #edit-metatags-checkbox{
                    width: 2rem;
                    margin: 2% 22.5% 2% 22.5%;
                }
            }

            .form-btns{
                @extend %form-btns-contriner;
                #delete-btns{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    .btn{
                        margin: 0 24px;
                    }
                }
                
                #create-gallery-btn , #create-photo-btn{
                    background-color: rgb(0, 0, 168);
                    &:hover{
                        background-color: blue;
                    }
                }
                #create-gallery-btn{
                    display: unset;
                }
                #edit-gallery-btn , #edit-photo-btn{
                    background-color: rgb(0, 168, 0);
                    &:hover{
                        background-color: green;
                    }
                }
                #delete-gallery-btn , #delete-photo-btn{
                    display: unset;
                    background-color: rgb(168, 0, 0);
                    &:hover{
                        background-color: red;
                    }
                }
            }

        }

    }
    footer{
        position: static;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 11;
        margin-top: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .create-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        
        .add-gallery-section , .add-photo-section{
            width: 80vw;
            margin: 12px 0;
        }
    }
}

