%flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-photo-container{
    @extend %flex-center;
    flex-direction: column;
    color: wheat;
    width: 95vw;
    gap: 1rem;
    
    .view-photo-details{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 0.35fr;
        width: 100%;
        gap: 1rem;

        section{
            @extend %flex-center;
            flex-direction: column;
            background-color: rgba(20, 20, 28, 0.5);
            height: 100%;
            width: 100%;
            padding: 0.75rem;
            border-radius: 1.5rem;
            overflow: hidden;

            .rc-viewer{
                @extend %flex-center;
                margin: 1rem 0;
                position: relative;        
                &:hover .fa-eye{
                    opacity: 0.75;
                }

                &:hover img{
                    opacity: .75;
                    transform: scale(1.05);
                    cursor: pointer;
                }

                img{
                    max-width: 100%;
                    max-height: 50vh;
                    border-radius: 1rem;
                    opacity: 0.5;
                    transition: opacity 500ms , transform 500ms;
                }   
                .fa-eye{
                    position: absolute;
                    font-size: 5rem;
                    transition: opacity 500ms;
                }
            }

            
            ul{
                margin-left: -1.5rem;
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .view-photo-container{
        margin-top: 2rem;
        .view-photo-details{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-height: 80vh;
            padding-bottom: 2rem;

            section{
                .rc-viewer{ 
                    img{
                        max-height: unset;
                        max-width: 150%;
                    }
                    .fa-eye{
                        font-size: 3rem;
                    }
                }
                ul{
                    overflow-y: scroll;
                }
            }
        }
    }
}