.modal-dialog{
    margin-top: 0;
}

.img-body{
    margin-bottom: 25%;
}

.modal::-webkit-scrollbar{
    display: none;
}

.view-photo-modal{
    background-color: rgba(0, 0, 0, 95%);
}

pre{
    padding: 0;
    margin: 0;
}

.img-body:hover ul{
    visibility: visible;
    background-color: rgba(0, 0, 0, 75%)
}

.img{
    position: absolute;
}

ul{
    font-size: 16;
    visibility: hidden;
    padding: 5%;
    margin-top: 12%;
    position: relative;
}
