body {
    background-color: #14141c;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 20%;
}

ul {
    list-style-type: none;
    flex: auto;
    
}

li {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 0.3rem;
    margin: 0.3rem;
    float: left;
    flex-direction: row;
}


.gallery-img {
    width: 300;
    height: 300;
}

form {
    width: 60%;
}

input {
    padding: 0.5rem !important;
    border-radius: 0.5rem !important;
}

a {
    color: white;
    text-decoration: none;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    color: white;
}

.success {
    background-color: #677565;
}

.delete {
    background-color: #A88B99;
}

.edit {
    background-color: #558a5e;
}

.view {
    background-color: #59558a;
}

.cold {
    background-color: #596C7F;
}

.gallery-title {
    text-align: center;    
}

.float-right {
    float: right;
}

.form-input {
    justify-content: space-between;
    display: flex;
}
