
body {
    background-color: #14141c;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

form {
    width: 60%;
}

input {
    padding: 0.5rem !important;
    border-radius: 0.5rem !important;
}

a {
    color: white;
    text-decoration: none;
}


.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner-two {
    display: contents;
    justify-content: center;
    width: 100%;
}

.btn {
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    color: white;
}

.cold {
    background-color: #596C7F;
    float: right;
}


.float-right {
    float: right;
}

.form-input {
    justify-content: space-between;
    display: flex;
}

.app-header{
    max-width: 100%;
    justify-content: space-between;

}

#root{
    padding: 10%;
    justify-content: space-between;
    flex-direction: column;
    
}

.images-container{
    margin-top: 16px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-container {
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    list-style-type: none;
    flex: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 0.3rem;
    margin: 0.3rem;
    position: relative;
    margin-top: 5%;

}



.gallery-container:hover .gallery-img{
    opacity: 0.4;
}
.gallery-container:hover .gallery-info{
    visibility: visible;
    opacity: 1;
}
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gallery-info {
    visibility: hidden;
    top: 65%;
    width: 100%;
    position: absolute;
    text-align: center;  
    opacity: 0;
}


.modal {
    background-color: transparent;
}

.modal-dialog {
    transform: scale(1.5);
    width: 100%;    
    max-width: 100%;
    margin: 2%;
}

.modal-content {
    background-color: #3c3c49;
    width: 95% ;
    height: fit-content;
}

.modal-body {
    flex: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-top: -2%;
}

.modal-title {
    color: white;
    font-weight: bold;
}




.view-photo {
    width: 100%;
    height: 100%;
}


.add-gallery-modal{
    background-color: transparent;
    border-radius: 4rem;
    width: 50%;
    height: auto;
    margin-top: 22.5%;
    margin-left: 25%;
}

.add-gallery-form{
    margin: 0;
    margin-bottom: -2%;
    display: flex;
    font-weight: bold;
}

.add-gallery-form .gallery-title{
    width: 15%;
    margin-left: 5%;
    text-align: center;
    color: black;
}

.add-gallery-form .gallery-thum{
    width: 50%;
    margin-left: 3%;
}

.add-gallery-form .title-div{
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 3%;

}

.add-gallery-form .file-div{
    display: flex;
    align-items: center;
    align-content: center;
}

.add-gallery-modal .footer{
    margin: 0;
    padding: 0;
    
}


@keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
  }
  
  .modal {
    animation-name: modalFade;
    animation-duration: .5s;
  }



  .view-photo-modal .img{
      margin: 0;
  }